<section id="signIn">
  <header>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand"
          ><img src="../../../assets/netflix-logo.svg" alt=""
        /></a>
      </div>
    </nav>
  </header>
  <main>
    <div class="container d-flex justify-content-center align-items-center flex-column p-5">
      <h1>Sign In</h1>
      <form action="#" class="d-flex flex-column">
        
        <input class="my-2" type="text" name="mailOrNumber" placeholder="Email or Phone number">
        <input class="my-2" type="password" name="password" placeholder="Password">
        <button class="my-2"  type="submit">Sign In</button>
        <div>
          <input type="checkbox" name="remember" id="rememberStatus"> <label for="rememberStatus">Remember me</label>
          <a href="#">Need help?</a>
        </div>
      </form>
      <div>
        <p>New to Netflix? <a href="#">Sign up now.</a></p>
        <p>This page is protected by Google reCAPTCHA to ensure you're not a bot.</p>
        <a href="#">Learn more.</a>
      </div>
    </div>
  </main>
</section>
