<header>
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand"
        ><img src="../../../assets/netflix-logo.svg" alt=""
      /></a>
      <div>
        <select name="language" id="language" class="btn btn-sm btn-outline-light" >
          <option value="english">
            <span
              > <i class="fa-regular fa-globe" style="color: #ffffff;"></i></span
            >English
          </option>
          <option value="hindi">हिंदी</option>
        </select>
        <button class="btn btn-sm mx-2">Sign In</button>
      </div>
    </div>
  </nav>
</header>
