<footer>
  <section class="footer">
    <p>Questions? Call <a href="#">000-800-919-1694</a></p>
    <ul class="d-flex">
      <div class="row">
        <li>
          <a href="#">FAQ</a>
        </li>
        <li>
          <a href="#">Account</a>
        </li>
        <li>
          <a href="#">Investor Relations</a>
        </li>
        <li>
          <a href="#">Ways to Watch</a>
        </li>
      </div>
      <div class="row">
        <li>
          <a href="#">Privacy</a>
        </li>
        <li>
          <a href="#">Corporate Information</a>
        </li>
        <li>
          <a href="#">Speed Test</a>
        </li>
        <li>
          <a href="#">Only on Netflix</a>
        </li>
      </div>
      <div class="row">
        <li>
          <a href="#">Help Centre</a>
        </li>
        <li>
          <a href="#">Media Centre</a>
        </li>
        <li>
          <a href="#">Jobs</a>
        </li>
        <li>
          <a href="#">Terms of Use</a>
        </li>
      </div>
      <div class="row">
        <li>
          <a href="#">Cookie Preferences</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
        <li>
          <a href="#">Legel Notices</a>
        </li>
      </div>
    </ul>
    <select name="language" id="language" class="btn btn-sm btn-outline-light">
      <option value="english">
        <span> <i class="fa-regular fa-globe" style="color: #ffffff"></i></span
        >English
      </option>
      <option value="hindi">हिंदी</option>
    </select>
  </section>
</footer>
